#azul {
    background: #93B5C9;
    width: auto;
    height: 100px;

}

#rojo {
    background: #AB2849;
    position: relative;
    width: auto;
    height: 200px;
}

#line1 {
    background: #AB2849;
    position: relative;
    width: auto;
    height: 100px;
    top: 10px;
    margin-left: 250px;
    
}

#line2 {
    background: #AB2849;
    position: relative;
    width: auto;
    height: 100px;
    top: 20px;
    margin-left: 250px;
    
}

#line3 {
    background: #AB2849;
    position: relative;
    width: auto;
    height: 100px;
    top: 30px;
    margin-left: 250px;
    
}

#line4 {
    background: #AB2849;
    position: relative;
    width: auto;
    height: 100px;
    top: 40px;
    margin-left: 250px;
    
}

#line5 {
    background: #AB2849;
    position: relative;
    width: auto;
    height: 100px;
    margin-left: 20px;
    margin-right:20px ;
    top: 50px;
}